<phpunit bootstrap="vendor/autoload.php" stderr="true">
    <testsuites>
        <testsuite name="pages">
            <directory>./tests/Pages</directory>
        </testsuite>
        <testsuite name="forum">
            <directory>./tests/Forum</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <file>./index.php</file>
            <file>./archief.php</file>
        </whitelist>
    </filter>
</phpunit>