<html>
  <head>
    <title>Spelcodes - Smileys Invoegen</title>
  </head>
  
  <script>
      function AddText(text) {
      	 opener.document.formulier.reactie.value += text;
      	 opener.document.formulier.reactie.focus();
      }

  </script>
  <STYLE>
   A:link		{font: arial; text-decoration: none; color: #000000;}
   A:visited	{font: arial; text-decoration: none; color: #000000;}
   A:active	{font: arial; text-decoration: none; color: #000000;}
   A:hover		{font: arial; color: #000000; text-decoration: underline;}
  </STYLE>
  <body background="../img/achtergrond.gif">
  <CENTER>
  <TABLE cellspacing=0 cellpadding=0 border=0 width=150>
    <tr>
      <td width=12 height=10><img src="../img/nieuwvaklinksboven.gif"></td>
      <td background="../img/nieuwvakboven.gif" width=* height=10><img src="../img/nieuwvakboven.gif"></td>
      <td width=12><img src="../img/nieuwvakrechtsboven.gif"></td>  
    </tr>

    <tr>
     <td background="../img/nieuwvaklinks.gif">&nbsp;</td>
     <td background="../img/nieuwvakmidden.gif" align=center>
     
      <table cellspacing=1 cellpadding=0 border=0 width=130>
        <tr>
          <td background="../img/patroon.gif" align=center width=65><a href="javascript:AddText(':)')"><img src="../img/smileys/SMILEY1.GIF" border=0></A></td>
          <td background="../img/patroon.gif" align=center width=65><a href="javascript:AddText(':)')"><B>:)</B></A></td>
        </tr>
        <tr>
          <td colspan=2 height=2>
          </td>
        </tr>
        <tr>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':|')"><img src="../img/smileys/SMILEY2.GIF" border=0></A></td>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':|')"><B>:|</B></A></td>
        </tr>
        <tr>
          <td colspan=2 height=2>
          </td>
        </tr>
        <tr>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':(')"><img src="../img/smileys/SMILEY3.GIF" border=0></A></td>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':(')"><B>:(</B></A></td>
        </tr>
        <tr>
          <td colspan=2 height=2>
          </td>
        </tr>
        <tr>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':o')"><img src="../img/smileys/SMILEY4.GIF" border=0></A></td>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':o')"><B>:o</B></A></td>
        </tr>
        <tr>
          <td colspan=2 height=2>
          </td>
        </tr>
        <tr>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':D')"><img src="../img/smileys/SMILEY5.GIF" border=0></A></td>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':D')"><B>:D</B></A></td>
        </tr>
        <tr>
          <td colspan=2 height=2>
          </td>
        </tr>
        <tr>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':s')"><img src="../img/smileys/SMILEY6.GIF" border=0></A></td>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':s')"><B>:S</B></A></td>
        </tr>
        <tr>
          <td colspan=2 height=2>
          </td>
        </tr>
        <tr>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':p')"><img src="../img/smileys/SMILEY7.GIF" border=0></A></td>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':p')"><B>:P</B></A></td>
        </tr>
        <tr>
          <td colspan=2 height=2>
          </td>
        </tr>
        <tr>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText('8)')"><img src="../img/smileys/SMILEY8.GIF" border=0></A></td>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText('8)')"><B>8)</B></A></td>
        </tr>
        <tr>
          <td colspan=2 height=2>
          </td>
        </tr>
        <tr>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText('8D')"><img src="../img/smileys/SMILEY9.GIF" border=0></A></td>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText('8D')"><B>8D</B></A></td>
        </tr>
        <tr>
          <td colspan=2 height=2>
          </td>
        </tr>
        <tr>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(';)')"><img src="../img/smileys/SMILEY10.GIF" border=0></A></td>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(';)')"><B>;)</B></A></td>
        </tr>
        <tr>
          <td colspan=2 height=2>
          </td>
        </tr>
        <tr>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':$')"><img src="../img/smileys/SMILEY11.GIF" border=0></A></td>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':$')"><B>:$</B></A></td>
        </tr>
        <tr>
          <td colspan=2 height=2>
          </td>
        </tr>
        <tr>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':@')"><img src="../img/smileys/SMILEY12.GIF" border=0></A></td>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':@')"><B>:@</B></A></td>
        </tr>
        <tr>
          <td colspan=2 height=2>
          </td>
        </tr>
        <tr>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText('x-(')"><img src="../img/smileys/SMILEY13.GIF" border=0></A></td>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText('x-(')"><B>x-(</B></A></td>
        </tr>
        <tr>
          <td colspan=2 height=2>
          </td>
        </tr>
        <tr>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':z')"><img src="../img/smileys/SMILEY14.GIF" border=0></A></td>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':z')"><B>:z</B></A></td>
        </tr>
        <tr>
          <td colspan=2 height=2>
          </td>
        </tr>
        <tr>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':cry:')"><img src="../img/smileys/SMILEY15.GIF" border=0></A></td>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':cry:')"><B>:cry:</B></A></td>
        </tr>
        <tr>
          <td colspan=2 height=2>
          </td>
        </tr>
        <tr>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':scheef:')"><img src="../img/smileys/SMILEY16.GIF" border=0></A></td>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':scheef:')"><B>:scheef:</B></A></td>
        </tr>
        <tr>
          <td colspan=2 height=2>
          </td>
        </tr>
        <tr>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':x')"><img src="../img/smileys/SMILEY17.GIF" border=0></A></td>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':x')"><B>:x:</B></A></td>
        </tr>
        <tr>
          <td colspan=2 height=2>
          </td>
        </tr>
        <tr>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText('|-)')"><img src="../img/smileys/SMILEY18.GIF" border=0></A></td>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText('|-)')"><B>|-)</B></A></td>
        </tr>
        <tr>
          <td colspan=2 height=2>
          </td>
        </tr>
        <tr>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(';P')"><img src="../img/smileys/SMILEY19.GIF" border=0></A></td>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(';P')"><B>;P</B></A></td>
        </tr>
        <tr>
          <td colspan=2 height=2>
          </td>
        </tr>
        <tr>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText('$)')"><img src="../img/smileys/SMILEY20.GIF" border=0></A></td>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText('$)')"><B>$)</B></A></td>
        </tr>
        <tr>
          <td colspan=2 height=2>
          </td>
        </tr>
        <tr>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':?')"><img src="../img/smileys/SMILEY21.GIF" border=0></A></td>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':?')"><B>:?</B></A></td>
        </tr>
        <tr>
          <td colspan=2 height=2>
          </td>
        </tr>
        <tr>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':sick:')"><img src="../img/smileys/SMILEY22.GIF" border=0></A></td>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':sick:')"><B>:sick:</B></A></td>
        </tr>
        <tr>
          <td colspan=2 height=2>
          </td>
        </tr>
        <tr>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':lol:')"><img src="../img/smileys/SMILEY23.GIF" border=0></A></td>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':lol:')"><B>:lol:</B></A></td>
        </tr>
        <tr>
          <td colspan=2 height=2>
          </td>
        </tr>
        <tr>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':mjam:')"><img src="../img/smileys/SMILEY24.GIF" border=0></A></td>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':mjam:')"><B>:mjam:</B></A></td>
        </tr>
        <tr>
          <td colspan=2 height=2>
          </td>
        </tr>
        <tr>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':zuinig:')"><img src="../img/smileys/SMILEY25.GIF" border=0></A></td>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':zuinig:')"><B>:zuinig:</B></A></td>
        </tr>
        <tr>
          <td colspan=2 height=2>
          </td>
        </tr>
        <tr>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':oh:')"><img src="../img/smileys/SMILEY26.GIF" border=0></A></td>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':oh:')"><B>:oh:</B></A></td>
        </tr>
        <tr>
          <td colspan=2 height=2>
          </td>
        </tr>
        <tr>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':tanden:')"><img src="../img/smileys/SMILEY27.GIF" border=0></A></td>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':tanden:')"><B>:tanden:</B></A></td>
        </tr>
        <tr>
          <td colspan=2 height=2>
          </td>
        </tr>
        <tr>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':>')"><img src="../img/smileys/SMILEY28.GIF" border=0></A></td>
          <td background="../img/patroon.gif" align=center><a href="javascript:AddText(':>')"><B>:></B></A></td>
        </tr>
      </table>

    </td>
    <td background="../img/nieuwvakrechts.gif">&nbsp;</td>
  </tr>

     <tr>
      <td width=12 height=10><img src="../img/nieuwvaklinksonder.gif"></td>
      <td background="../img/nieuwvakonder.gif" width=*><img src="../img/nieuwvakonder.gif"></td>
      <td width=12><img src="../img/nieuwvakrechtsonder.gif"></td>  
    </tr>
   </table>
   </CENTER>
  </body>
</html>